<!-- /components/footer.html -->
<footer class="footer">
    <p class="footer-brand">
      © 2026
      <a href="/index.html" class="footer-home-link">TradeRisk</a>.
      All Rights Reserved.
    </p>
  
    <p class="footer-dev">
      Developed by <span class="author">James Rafael Boroy</span>
    </p>
  
    <div class="footer-links">
      <a href="/pages/privacy-policy.html" class="policy-link">Privacy Policy</a>
      <span class="divider">|</span>
      <a href="/pages/terms.html" class="policy-link">Terms & Conditions</a>
      <span class="divider">|</span>
      <a href="/pages/disclaimer.html" class="policy-link">Disclaimer</a>
      <span class="divider">|</span>
      <a href="/pages/contact.html" class="policy-link">Contact Us</a>
    </div>
  </footer>
  